

1 of 16,272
(no subject)
Inbox
x

Praganesh Patel <pritesh13290@gmail.com>
Attachments
12:45 AM (6 hours ago)
to me



--
Regards,
Praganesh Patel

Attachments area

#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
*.dll
*.ncrunch*
*.dotCover